.shower {
	--slide-ratio: calc(16 / 9);
}

#cover::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

#cover h2 {
	position: relative;
	z-index: 2;
	margin: 30px 0 0;
	color: white;
	text-align: center;
	font-size: 70px;
	text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

#cover p {
	position: relative;
	z-index: 2;
	margin: 10px 0 0;
	text-align: center;
	color: white;
	font-style: italic;
	font-size: 20px;
}

#cover p a {
	color: white;
}

#avatar {
	border-radius: 50%;
	object-fit: cover;
	height: 350px;
	object-position: center 20%;
}

#about-me {
	line-height: 1.7;
}

#agenda li {
	line-height: 1.2;
	color: #666;
	font-size: 0.9em;
}

.timeline {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 20px 0;
}

.timeline-item {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 5px;
	border-left: 4px solid #007acc;
	background: #f8f9fa;
	border-radius: 8px;
}

.year {
	font-weight: bold;
	font-size: 24px;
	color: #007acc;
	min-width: 80px;
}

.event {
	font-size: 20px;
}

#motivation h2 {
	position: relative;
	z-index: 2;
	margin: 30px 0 0;
	color: white;
	text-align: center;
	font-size: 70px;
	text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
}

#motivation::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

#baza li {
	line-height: 1.5;
}

.overlay-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

#education-2 ul {
	line-height: 1.5;
}

#interview ul {
	line-height: 1.8;
}

#viza li {
	line-height: 1.2;
	font-size: 0.8em;
}

.visa-summary {
	margin-top: 40px;
	text-align: center;
	font-size: 1.1em;
	color: #666;
}

.vertical-center {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

#documents ul {
	line-height: 1.5;
}

#pohvalit-title {
	text-align: center;
	text-shadow: 4px 4px 10px white;
}

#see-more #codes {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	color: var(--color-blue);
	font-weight: bold;
}

#see-more h2 {
	font-size: 90px;
}

#see-more #telegram-logo {
	width: 1em;
}

#flex-container {
	display: flex;
	justify-content: center;
}
